<div class="g-container">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Angular Router</a>
      </div>
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Home</a></li>-->
        <!--<li><a routerLink="" routerLinkActive="active">APP</a></li>-->
        <li><a routerLink="signin" routerLinkActive="active">signin</a></li>
        <li><a routerLink="signup" routerLinkActive="active">signup</a></li>
        <li><a routerLink="product" routerLinkActive="active">Product</a></li>
        <!--<li><a routerLink="login" routerLinkActive="active">Login</a></li>-->
      </ul>
    </div>
  </nav>
  <section>
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</div>
